    </div>

     
    <div class="footer_bar fixed-bottom">
        <p class="inline" style="text-align-last:center">© 2020 DinSor </p>
        <a class="inline" style="text-decoration: none; color: aliceblue;" href="https://www.pornhub.com/"> >>contact us</a>
    </div>
     
    </body>
</html>