<style>
    .sidenav {
        height: 92vh;
        width: 180px;
        position: fixed;
        z-index: 1;
        top: 8vh;
        left: 0;
        background-color: #111;
        overflow-x: hidden;
        padding-top: 20px;
    }

    .sidenav a {
        padding: 6px 8px 6px 16px;
        text-decoration: none;
        font-size: 25px;
        color: #818181;
        display: block;
    }

    .sidenav a:hover {
        color: #f1f1f1;
    }

    .main {
        margin-left: 180px; /* Same as the width of the sidenav */
    }

    @media screen and (max-height: 450px) {
        .sidenav {
            padding-top: 15px;
        }
        .sidenav a {
            font-size: 18px;
        }
    }
</style>
<div class="sidenav desktop-visible">
    <a href="/CSS_224">CSS 224</a>
    <a href="/CSS_226">CSS 226</a>
    <a href="/CSS_227">CSS 227</a>
    <a href="/CSS_228">CSS 228</a>
    <a href="/LNG_224">LNG 224</a>
    <a href="/GEN_241">GEN 241</a>
</div>

<!-- <div class="main fixed-top" style="margin-top: 8vh;">
    <div style="background-color:rgb(110, 196, 11); height: 8vh;">
        <div class="dropdown">
            <button style="margin:0.25cm; width: 98%;" class="btn btn-light dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Dropdown button
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <a class="dropdown-item" href="/CSS_224">CSS 224</a>
                <a class="dropdown-item" href="/CSS_226">CSS 226</a>
                <a class="dropdown-item" href="/CSS_227">CSS 227</a>
                <a class="dropdown-item" href="/CSS_228">CSS 228</a>
                <a class="dropdown-item" href="/LNG_224">LNG 224</a>
                <a class="dropdown-item" href="/GEN_241">GEN 241</a>
            </div>
        </div>
    </div>
</div> -->