<%- include("./partials/header") %>
<div class="content">
    <div class="post_box" style="text-align: center;">
        <h4>Contact Us</h4>
        <h5>Thanks for coming to "contact us"</h5>
        <h5>if you have something to tell us let us know by click a link button below!!</h5>
    </div>
    <div class="post_box">
        <i class="fab fa-facebook"></i>
        <a target="_blank" href="https://www.facebook.com/Roong.Chakkrin/" class="btn btn-warning">ADMIN : Roong</a>

        <i class="fab fa-facebook"></i>
        <a target="_blank" href="https://www.facebook.com/nattapat.v2543/" class="btn btn-warning">ADMIN : Nat</a>
    </div>

</div>
<%- include("./partials/footer") %>