<%- include("partials/header") %>
<%- include("partials/headest") %>
<div style="margin-left: 180px;">
    <div style="width: 90%; height: 75vh; background-color: rgba(255, 255, 255, 0.9); border-radius: 10px; padding: 1cm; margin-top: 1cm; margin-left: 2cm;">
        <div style="width: 5cm; height: 5cm; background-color: black;">
            <p style="color: white; padding: 2cm;">Add picture</p>
        </div>
        <form>
            <div class="form-group">
                <label for="exampleInputEmail1"><strong>Username</strong></label>
                <input type="username" class="form-control">
            </div>
            <div class="form-group">
                <label for="exampleInputPassword1"><strong>Password</strong></label>
                <input type="password" class="form-control">
            </div>
            <div class="form-group">
                <label for="exampleInputPassword1"><strong>Confirm Password</strong></label>
                <input type="password" class="form-control">
            </div>
            <a class="btn btn-warning" href="/Index" role="button">Save</a>
        </form>
    </div>
</div>
<%- include("partials/footer") %>