<%- include("partials/header") %>
<%- include("partials/headest") %>
<center style="margin-left: 180px; margin-top: 10vh;">
    <div style="width: 90%; height: 5cm; background-color: rgba(255, 255, 255, 0.9); border-radius: 10px; margin: 1cm;">
        <p style="padding: 2cm; font-size: 30px;">Create post here!</p>
    </div>
</center>
<%- include("partials/footer") %>