
    .sidenav {
        height: 92vh;
        width: 180px;
        position: absolute;
        z-index: 1;
        left: 0;
        background-color: #111;
        overflow-x: hidden;
        padding-top: 20px;
    }

    .sidenav a {
        padding: 6px 8px 6px 16px;
        text-decoration: none;
        font-size: 25px;
        color: #818181;
        display: block;
    }

    .sidenav :hover {
        color: #f1f1f1;
    }

    .main {
        margin-left: 180px; /* Same as the width of the sidenav */
    }

    .nav_bar {
        height: 50px;
        display: grid;
        grid-template-columns: 20% 40% 10% 30% ;
        align-items: center;
        background-color: #f1f1f1;
    }
    .nav_bar_r{
        display: grid;    
        grid-template-columns: 10% 60% 30% ;
        align-items: center;
        background-color: #f1f1f1;
    }  

    .logo > img{
        /* align-self: center;
        justify-self: center;  */
        /* margin-left: auto;
        margin-right: auto; */    
    }
    .serch_bar{
        display: grid;
        grid-template-columns: 70% 30% ;
    }
    
    
    @media screen and (max-width: 550px) {
        .side_bar {
            display: none;    
        }
        .logo {
            display: none;
        }
   
    }
    