
    /* .sidenav {
        height: 92vh;
        width: 180px;
        position: absolute;
        z-index: 1;
        left: 0;
        background-color: #111;
        overflow-x: hidden;
        padding-top: 20px;
    }

    .sidenav a {
        padding: 6px 8px 6px 16px;
        text-decoration: none;
        font-size: 25px;
        color: #818181;
        display: block;
    }

    .sidenav :hover {
        color: #f1f1f1;
    }

    .main {
        margin-left: 180px; 
    }  */

    .nav_bar {
        height: 50px;
        display: grid;
        grid-template-columns: 25% 45% 5% 25% ;
        align-items: center;
        background: rgb(247,247,247);
        box-shadow: -1px 4px 28px 0px rgba(7, 7, 7, 0.4);
        

        
    }
    .nav_bar_r{
        display: grid;    
        grid-template-columns: 10% 60% 30% ;
        align-items: center;
        background-color:white;
    }  
    
    .sidebar_content {
        display: grid;
        grid-template-columns: 15% 85% ;
        
    }
    .side_bar {
        align-items: center;
        justify-items: center;
        background-color: #111;
        height: 92vh;
        box-shadow: rgba(247,247,247, 0.4);
    }
    .side_bar :hover{
        color: black;
        font-style: bold;
        background: rgb(247,247,247);
        background: linear-gradient(173deg, rgba(247,247,247,1) 47%, rgba(48,219,48,1) 100%);
    }
    .side_bar a {
        padding: 6px 8px 6px 16px;
        text-decoration: none;
        font-size: 25px;
        color: #818181;
        display: block;
    }

    .content {
        margin-left: 50px;
        margin-right: 50px;
    }
    
    .post_box {
        width: 90%; 
        background-color: rgba(255, 255, 255, 0.9); 
        padding: 10px;
        padding-left: 14px;
        padding-right: 14px;
        border-radius: 6px; 
        margin: 30px;
        box-shadow: -1px 4px 28px 0px rgba(7, 7, 7, 0.4);
    }
    
    
    .footer_bar {
        
        background-color:red;

    }
    .logo > img{
        align-self: center;
        justify-self: center; 
        /* margin-left: auto;
        margin-right: auto; */    
    }
    .serch_bar{
        display: grid;
        grid-template-columns: 70% 30% ;
    }
    
    
    @media screen and (max-width: 550px) {
        .side_bar {
            display: none;    
        }
        .logo {
            display: none;
        }
   
    }
    